<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title> Appy Form</ion-title>
      <ion-buttons slot="end">
        <ion-button fill="clear">
          <ion-icon name="bookmark-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
  <div class="main-content">
  <div >
    <form action="">
      <div class="main-input-container">
           <input type="file" placeholder="Upload Resume" class="input-div">
           <input type="password" placeholder="Name" id="" class="input-div">    
           <input type="password" placeholder="Email" id="" class="input-div">    
           <input type="password" placeholder="Number" id="" class="input-div">        
          <button class="apply-btn" >APPLY JOB</button>        
        </div>
      
    </form>
  </div>
</div>
  </ion-content>

  </ion-app>