<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>splashcreen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">splashcreen</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->

<ion-content [fullscreen]="true" class="d-flex">  <!-- <ion-avatar> -->
  <ion-grid class="h-100 mt-48">
    <ion-row class="justify-content-center align-items-center h-100">
      <ion-col size="auto">
        <img src="../../../assets/image.png" alt=""> 
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- </ion-avatar> -->
</ion-content>