
ion-content {
    --background: white;
    --color: black;
  }
  ion-header ion-toolbar  {
    --background:white;
    --color: black;
  }
  on-toolbar {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  ion-content {
    --background: #FBF6FF !important; /* Ensures the background is white */  
  }
  
  ion-card {
    background-color: white;
    color: black;
  }
  
  .user-profile{
  
   border-radius: 50%;
      height: 53px;
      width: 54px;
      margin: 10px;
      margin-left: 24px;
  }
  
  .chat-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between messages */
    padding: 10px;
    margin-bottom: 100px;
  }
  
  .you-content {
    align-self: flex-start;  /* Aligns to the left */
    width: 70%;
    text-align: left;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    border: none;
    background-color: #FCEED4;
    border-radius: 10px 10px 10px 0px;
  }
  
  .me-content {
    align-self: flex-end; /* Aligns to the right */
    width: fit-content;
    max-width: 70%;
    text-align: right;
    padding: 10px;
    border: 1px solid green;
    color: white;
    background-color: #40189D;
    border: none;
    border-radius: 10px 0px 10px 10px;
  }
  
  
  .main-input-container {
    color: rgb(248, 238, 238) !important; /* Explicitly set background to white */
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    padding: 0%;
    display: flex; 
    flex-direction: column;
    justify-content: center;  
    margin-bottom: 36px;
  }
  
  .input-div {
    // border: 1px solid black;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 40px;
    border: 0.5px solid black;
    margin: 10px 20px 22px 20px;
  }