<ion-app>
  <ion-content class="">
      <ion-card class="hoverEffect m-4 p-3 rounded-3 rounded-3">
        <p class="fs-6 fw-bold">Apply Success</p>
        <p>You has apply an job in Queenify Group as UI Designer</p>
        <div class="d-flex flex-row justify-content-between">
          <div class="hrs">10h ago</div>
          <div>Mark as read</div>
        </div>
      </ion-card>
      <ion-card class="hoverEffect m-4 p-3 rounded-3">
        <p class="fs-6 fw-bold">Apply Success</p>
        <p>You has apply an job in Queenify Group as UI Designer</p>
        <div class="d-flex flex-row justify-content-between">
          <div class="hrs">10h ago</div>
          <div>Mark as read</div>
        </div>
      </ion-card><ion-card class="hoverEffect m-4 p-3 rounded-3">
        <p class="fs-6 fw-bold">Apply Success</p>
        <p>You has apply an job in Queenify Group as UI Designer</p>
        <div class="d-flex flex-row justify-content-between">
          <div class="hrs">10h ago</div>
          <div>Mark as read</div>
        </div>
      </ion-card><ion-card class="hoverEffect m-4 p-3 rounded-3">
        <p class="fs-6 fw-bold">Apply Success</p>
        <p>You has apply an job in Queenify Group as UI Designer</p>
        <div class="d-flex flex-row justify-content-between">
          <div class="hrs">10h ago</div>
          <div>Mark as read</div>
        </div>
      </ion-card><ion-card class="hoverEffect m-4 p-3 rounded-3">
        <p class="fs-6 fw-bold">Apply Success</p>
        <p>You has apply an job in Queenify Group as UI Designer</p>
        <div class="d-flex flex-row justify-content-between">
          <div class="hrs">10h ago</div>
          <div>Mark as read</div>
        </div>
      </ion-card><ion-card class="hoverEffect m-4 p-3 rounded-3">
        <p class="fs-6 fw-bold">Apply Success</p>
        <p>You has apply an job in Queenify Group as UI Designer</p>
        <div class="d-flex flex-row justify-content-between">
          <div class="hrs">10h ago</div>
          <div>Mark as read</div>
        </div>
      </ion-card><ion-card class="hoverEffect m-4 p-3 rounded-3">
        <p class="fs-6 fw-bold">Apply Success</p>
        <p>You has apply an job in Queenify Group as UI Designer</p>
        <div class="d-flex flex-row justify-content-between">
          <div class="hrs">10h ago</div>
          <div>Mark as read</div>
        </div>
      </ion-card>
    </ion-content>
</ion-app>