
<ion-app>
  <ion-content class="ion-padding">
    <div class="onboarding-container">
      <!-- Illustration -->
      <div class="container" (click)="goTowelcomePage()">
        <img src="../../../assets/imgonboarding.png" class="h-25 w-25" alt="Full width">
    </div>

      <!-- Content -->
      <div class="content">
        <h1 class="title">Find your dream<br>job now</h1>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        </p>
      </div>

      <!-- Navigation -->
      <div class="navigation">
        <ion-button fill="clear" class="nav-button">
          <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
        </ion-button>
        
        <div class="dots">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot active"></span>
        </div>

        <ion-button class="nav-button next" shape="round">
          <ion-icon name="arrow-forward-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </div>
    </div>
  </ion-content>
</ion-app>
