

ion-content {
  --background: white;
  --color: black;
  margin-bottom: 80px;
}

.custom-searchbar {
--background: white;
--border-radius: 90px;
--box-shadow: none;
--placeholder-color: #666;
--icon-color: #666;
--color:black;
}
