<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>messages</ion-title>
  </ion-toolbar>
</ion-header> -->
  
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar class="custom-searchbar" placeholder="Search message.."></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  class="ion-padding-bottom">
  <ion-list *ngFor="let userMessage of chatList">
    <ion-item routerLink="/message-detail">
        <ion-avatar slot="start">
          <img [src]="userMessage.image" />
        </ion-avatar>
      <ion-label>
        <h2>{{userMessage.name}}</h2>
        <p>{{userMessage.lastMessage}}</p>
      </ion-label> 
    </ion-item>
  </ion-list>
</ion-content> 
