
<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/home"></ion-back-button>
    </ion-buttons>
    <ion-searchbar class="custom-searchbar" placeholder="Search message.."></ion-searchbar>
  </ion-toolbar> 
</ion-header> -->
<app-header [pageName]= "'Home'"></app-header>
<ion-content [fullscreen]="true"  class="ion-padding-bottom">
  <ion-toolbar>
    <ion-searchbar class="custom-searchbar" placeholder="Search message.."></ion-searchbar>
  </ion-toolbar> 
  <ion-list *ngFor="let userMessage of chatList">
    <ion-item routerLink="/message-detail">
        <ion-avatar slot="start">
          <img [src]="userMessage.image" />
        </ion-avatar>
      <ion-label>
        <h2>{{userMessage.name}}</h2>
        <p>{{userMessage.lastMessage}}</p>
      </ion-label> 
    </ion-item>
  </ion-list>
  </ion-content>