ion-content {
  --background: #40189D !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure full height */
}

.img-div {
  margin-top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.img-div div {
  display: flex;
  justify-content: center;
  align-items: center;
}
