<!-- <ion-app>
  <ion-content class="ion-padding">
    <ion-grid class="h-100 mt-48">
      <ion-row class="justify-content-center align-items-center h-100">
        <ion-col size="auto">
          <img src="assets/logJ.png" alt="Logo" class="img-fluid">
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app> -->

<ion-app>
  <ion-content>
    <div class="img-div" (click)="goToOnboarding()">
      <div>
        <img src="../../../assets/logJ.png" alt="">
      </div>
    </div>   
  </ion-content>
</ion-app>
