<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title> Job Details</ion-title>
      <img class="user-profile" src="../../../assets/profileImg.jpeg" />
      <ion-buttons slot="end">
        <ion-button fill="clear">
          <ion-icon name="bookmark-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content >
    <div class="chat-content">
      <div class="chat-container">
        <div class="you-content">
          Hi! How are you?
        </div>
        
        <div class="me-content">
          I'm good! How about you?
        </div>
      
        <div class="you-content">
          I'm doing well too. Thanks for asking!
        </div>
      
        <div class="me-content">
          Great to hear! 😊
        </div>
        <div class="me-content">
          I'm good! How about you?
        </div>
      
        <div class="you-content">
          I'm doing well too. Thanks for asking!
        </div>
      
        <div class="me-content">
          Great to hear! 😊
        </div> <div class="me-content">
          I'm good! How about you?
        </div>
      
        <div class="you-content">
          I'm doing well too. Thanks for asking!
        </div>
      
        <div class="me-content">
          Great to hear! 😊
        </div> <div class="me-content">
          I'm good! How about you?
        </div>
      
        <div class="you-content">
          I'm doing well too. Thanks for asking!
        </div>
      
        <div class="me-content">
          Great to hear! 😊
        </div> <div class="me-content">
          I'm good! How about you?
        </div>
      
        <div class="you-content">
          I'm doing well too. Thanks for asking!
        </div>
      
        <div class="me-content">
          Great to hear! 😊
        </div> <div class="me-content">
          I'm good! How about you?
        </div>
      
        <div class="you-content">
          I'm doing well too. Thanks for asking!
        </div>
      
        <div class="me-content">
          Great to hear! 😊
        </div> <div class="me-content">
          I'm good! How about you?
        </div>
      
        <div class="you-content">
          I'm doing well too. Thanks for asking!
        </div>
      
        <div class="me-content">
          Great to hear! 😊
        </div> <div class="me-content">
          I'm good! How about you?
        </div>
      
        <div class="you-content">
          I'm doing well too. Thanks for asking!
        </div>
      
        <div class="me-content">
          Great to hear! 😊
        </div>
      </div>  
    </div>
    <div class="main-input-container">
      <input type="text" placeholder="Type Message .........." class="input-div" />
   </div>
  </ion-content>
</ion-app>