<ion-app>
  <ion-content>
    <!-- Header -->
    <div>
      <div class="header">
        <div class="header-content">
          <div>
            <h1 class="username">Message</h1>
          </div>
        </div>
      </div>
      <!-- Search Bar -->
      <div class="search-bar">
        <ion-searchbar placeholder="Search job here..." class="custom-searchbar"></ion-searchbar>
      </div>
    </div>
    <div class="main-container">
      <div class="chat-list-container">
        <div class="chat-card">
          <div matBadge="1" matBadgeSize="medium" class="demo-section">
            <ion-avatar>
              <img src="https://i.pravatar.cc/100" alt="Profile" />
            </ion-avatar>
          </div>
          <div class="chat-content-text">
            <a routerLink="/messagedetails"><h3 class="heading-text-content">Gustauv Semalam</h3></a> 
            <p class="subheading-text-content">Roger that sir, thankyou</p>
            <div class="subheading-div">
              <span style="color: #82848a">2m ago</span>
              <span style="color: #82848a">Read</span>
            </div>

          </div>
        </div>
      </div>
      <!--  -->
      <div class="chat-list-container">
        <div class="chat-card">
          <div matBadge="1" matBadgeSize="medium" class="demo-section">
            <ion-avatar>
              <img src="https://i.pravatar.cc/100" alt="Profile" />
            </ion-avatar>
          </div>

          <div class="chat-content-text">
            <h3 class="heading-text-content">Gustauv Semalam</h3>
            <p class="subheading-text-content">Roger that sir, thankyou</p>
            <div class="subheading-div">
              <span style="color: #82848a">2m ago</span>
              <span style="color: #82848a">Read</span>
            </div>

          </div>
        </div>
      </div>
      <!--  -->
      <div class="chat-list-container">
        <div class="chat-card">
          <div matBadge="1" matBadgeSize="medium" class="demo-section">
            <ion-avatar>
              <img src="https://i.pravatar.cc/100" alt="Profile" />
            </ion-avatar>
          </div>

          <div class="chat-content-text">
            <h3 class="heading-text-content">Gustauv Semalam</h3>
            <p class="subheading-text-content">Roger that sir, thankyou</p>
            <div class="subheading-div">
              <span style="color: #82848a">2m ago</span>
              <span style="color: #82848a">Read</span>
            </div>

          </div>
        </div>
      </div>
      <!--  -->
      <div class="chat-list-container">
        <div class="chat-card">
          <div matBadge="1" matBadgeSize="medium" class="demo-section">
            <ion-avatar>
              <img src="https://i.pravatar.cc/100" alt="Profile" />
            </ion-avatar>
          </div>

          <div class="chat-content-text">
            <h3 class="heading-text-content">Gustauv Semalam</h3>
            <p class="subheading-text-content">Roger that sir, thankyou</p>
            <div class="subheading-div">
              <span style="color: #82848a">2m ago</span>
              <span style="color: #82848a">Read</span>
            </div>

          </div>
        </div>
      </div>
      <!--  -->
      <div class="chat-list-container">
        <div class="chat-card">
          <div matBadge="1" matBadgeSize="medium" class="demo-section">
            <ion-avatar>
              <img src="https://i.pravatar.cc/100" alt="Profile" />
            </ion-avatar>
          </div>

          <div class="chat-content-text">
            <p class="heading-text-content">Gustauv Semalam</p>
            <p class="subheading-text-content">Roger that sir, thankyou</p>
            <div class="subheading-div">
              <span style="color: #82848a">2m ago</span>
              <span style="color: #82848a">Read</span>
            </div>

          </div>
        </div>
      </div>
      <!--  -->
      <div class="chat-list-container">
        <div class="chat-card">
          <div matBadge="1" matBadgeSize="medium" class="demo-section">
            <ion-avatar>
              <img src="https://i.pravatar.cc/100" alt="Profile" />
            </ion-avatar>
          </div>

          <div class="chat-content-text">
            <h3 class="heading-text-content">Gustauv Semalam</h3>
            <p class="subheading-text-content">Roger that sir, thankyou</p>
            <div class="subheading-div">
              <span style="color: #82848a">2m ago</span>
              <span style="color: #82848a">Read</span>
            </div>

          </div>
        </div>
      </div>
      <div class="chat-list-container">
        <div class="chat-card">
          <div matBadge="1" matBadgeSize="medium" class="demo-section">
            <ion-avatar>
              <img src="https://i.pravatar.cc/100" alt="Profile" />
            </ion-avatar>
          </div>

          <div class="chat-content-text">
            <h3 class="heading-text-content">Gustauv Semalam</h3>
            <p class="subheading-text-content">Roger that sir, thankyou</p>
            <div class="subheading-div">
              <span style="color: #82848a">2m ago</span>
              <span style="color: #82848a">Read</span>
            </div>

          </div>
        </div>
      </div>
      <div class="chat-list-container">
        <div class="chat-card">
          <div matBadge="1" matBadgeSize="medium" class="demo-section">
            <ion-avatar>
              <img src="https://i.pravatar.cc/100" alt="Profile" />
            </ion-avatar>
          </div>

          <div class="chat-content-text">
            <h3 class="heading-text-content">Gustauv Semalam</h3>
            <p class="subheading-text-content">Roger that sir, thankyou</p>
            <div class="subheading-div">
              <span style="color: #82848a">2m ago</span>
              <span style="color: #82848a">Read</span>
            </div>

          </div>
        </div>
      </div>
      <div class="chat-list-container">
        <div class="chat-card">
          <div matBadge="1" matBadgeSize="medium" class="demo-section">
            <ion-avatar>
              <img src="https://i.pravatar.cc/100" alt="Profile" />
            </ion-avatar>
          </div>

          <div class="chat-content-text">
            <h3 class="heading-text-content">Gustauv Semalam</h3>
            <p class="subheading-text-content">Roger that sir, thankyou</p>
            <div class="subheading-div">
              <span style="color: #82848a">2m ago</span>
              <span style="color: #82848a">Read</span>
            </div>

          </div>
        </div>
      </div>
      <div class="chat-list-container">
        <div class="chat-card">
          <div matBadge="1" matBadgeSize="medium" class="demo-section">
            <ion-avatar>
              <img src="https://i.pravatar.cc/100" alt="Profile" />
            </ion-avatar>
          </div>

          <div class="chat-content-text">
            <h3 class="heading-text-content">Gustauv Semalam</h3>
            <p class="subheading-text-content">Roger that sir, thankyou</p>
            <div class="subheading-div">
              <span style="color: #82848a">2m ago</span>
              <span style="color: #82848a">Read</span>
            </div>

          </div>
        </div>
      </div>
    </div>
  </ion-content>

</ion-app>