
ion-content {
    --background: #FBF6FF ;
    --color: black;
  }
  .cover-container {
    position: relative;
    width: 100%;
  }
  ion-icon {
      font-size: 24px;
      height: 25px;
      width: 25px;
      border-radius: 76%;
      // border: 0.3px solid #a765dd;
      padding: 6px;
      box-shadow: 1px 2px #888888;
  }
  .cover-container img {
    width: 100%;
    height: 200px;
    display: block;
  }
  
  .overlay-text {
    position: absolute;
    top: 33%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    background: black;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  /* Profile image styling */
  .profile-div {
    position: absolute;
    // top:50%;
    left: 38%;
    display:flex;
    justify-content: center;
    justify-items: center;
    margin-top: -50px; /* Moves profile image up */
  }
  
  .profile-div img {
    
    width: 100px;
    height: 100px;
    border-radius: 30%;
    border: 5px solid white;
  }
  
  /* User Info Styling */
  .user-info {
    padding-top:25px;
    text-align: center;
    margin-top: 15px;
  }
  
  .user-info p {
    color: rgb(40, 25, 25);
    font-size: 18px;
    padding-inline: 2px;
  }
  
  /* Social Links Styling */
  .social-links {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 10px;
  }
  
  .social-links a {
    // height: 50px;
    // width: 40px;
    color: #007bff;
    // font-size: 54px;
    
  }
  
  // .skill-main-container {
  //   // background-color: #43ede2;
  // }
  
  .ion-card-resume {
    margin-top: 14px;
    padding: 10px;
    color: white;
    margin-inline: 26px;
    background-color: #40189D;  
    
  }
  
  .section-title {
    padding: 10px;
    font-size: 20px;
    font-weight:500;
    margin: 0px;
  }
  
  .resume-file-name {
    font-size: 17px;
    padding-inline: 18px;
    margin-bottom: 4px;
  }
  
  .skill-list {
    display: flex;
    width: fit-content;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction:row;
    gap: 0px;
    margin-bottom: 40px;
  }
  
  .ion-card-progress {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap:wrap;
    // padding: 4px;
    background: #EAE4F6;
    border-radius: 15px;
    // border: 1px solid black;
    width:24%;
    gap:16px;
    margin: 18px;
  }

  
  
  .progress-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  svg {
    transform: rotate(-0deg);
  }
  
  .background-circle {
    fill: none;
    stroke: #ddd;
  }
  
  .progress-circle {
    fill: none;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.5s ease-in-out;
  }
  
  text {
    font-weight: bold;
    fill: black;
  }
  
  .skill-name {
    font-size: 16px;
    font-weight: bold;
    margin-top: 8px;
    color: #333;
  }
  
  .progress-card {
    width: 40px;
  }