
<app-header [pageName]= "'Home'"></app-header>

<ion-content [fullscreen]="true">
 
    <!-- Search Bar -->
    <div class="search-bar mt-4">
      <ion-searchbar placeholder="Search job here..." class="custom-searchbar"></ion-searchbar>
    </div>

    <!-- Stats Cards -->
    <div class="stats-grid">
      <ion-card class="stats-card primary">
        <div class="stats-content">
          <h2>29</h2>
          <p>Jobs Applied</p>
        </div>
      </ion-card>
      <ion-card class="stats-card secondary">
        <div class="stats-content">
          <h2>3</h2>
          <p>Interviews</p>
        </div>
      </ion-card>
    </div>


    <div class="section">
      <div class="rec-job-div">
        <div>
          <h2 class="section-title">Recomended Jobs</h2>
        </div>
        <div class="rec-job-more">
          <div class="sm-div"></div>
          <div class="md-div"></div>
          <div class="lg-div"></div>
        </div>  
      </div>
      
      <ion-card class="ion-card-rec">	
          <img src="https://i.pravatar.cc/100" alt="companyImg" class="company-img">
        
        <div class="company-details">
          <!-- <span>ITC Pvt Ltd.</span> -->
          
          <span class="span-company-text">Software Engineer</span>
          <span >Jakarta, Indonesia</span>
          <span class="span-company-salary">$ 500 - $ 1,000</span>
        </div>
      </ion-card>
    
    </div>
    
    <div class="section">
      <div class="rec-job-div">
        <div>
            <h2 class="section-title">Recent Jobs</h2>
        </div>
        <div class="rec-job-more">
          <span>More</span>
         </div>  
      </div>
    </div>

    
      <div class="ion-card-recjob">	  
       
        <div class="ion-card-recentjob" *ngFor="let cmpData of companyList" >	
          <div routerLink="/company-details">
              <img [src]="cmpData.companyImg" class="company-img-recentjob">
          </div>
          <div routerLink="/job-details" class="company-details-recentJob">
            <span class="rec-span-companyText">{{cmpData.companyName}}</span>
            <span class="rec-span-jobTitle">{{cmpData.jobTitle}}</span>
            <span class="rec-span-address">{{cmpData.location}}</span>
            <span class="rec-span-salary">{{cmpData.salary}}</span>
          </div>
        </div>
      </div>	
  </ion-content>