<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>footer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">footer</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->

<!-- <ion-footer>
  <ion-toolbar>
    <div class="footer-icons">
      <ion-button routerLink="/home" fill="clear"> 
      </ion-button>
      <ion-button routerLink="/notifications" fill="clear">
        <ion-icon name="notifications-sharp"></ion-icon>
      </ion-button>
      <ion-button routerLink="/messages" fill="clear">
        <ion-icon name="chatbox-sharp"></ion-icon>
       </ion-button>
       <ion-button routerLink="/profile" fill="clear">
        <ion-icon name="person-sharp"></ion-icon>      
       </ion-button>
     </div>
  </ion-toolbar>  
</ion-footer> -->
<ion-tabs>

  <ion-tab-bar id="main-tabbar" slot="bottom">
    <ion-tab-button tab="employees" routerLink="/home" >
      <ion-icon name="home-sharp"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="expenses" routerLink="/notifications">
      <ion-icon name="notifications-sharp"></ion-icon>
      <ion-label>Notifications</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="store" routerLink="/messages">
      <ion-icon name="chatbox-sharp"></ion-icon>
      <ion-label>Message</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" routerLink="/profile">
      <ion-icon name="person-sharp"></ion-icon>      
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>