ion-toolbar {
    // --background-color: rgb(1, 0, 0) !important; /* Ensures background is white */
    padding: 0%;
    --background: #FBF6FF !important;
  }
  
  ion-tab-bar {
    --background: #FBF6FF !important;

  }
  ion-icon {
    color: rgb(75, 98, 109);
  }

  .bottom-bar {
  --background: var(--ion-color-light);
  --padding-start: 0;
  --padding-end: 0;

  ion-tab-bar {
    --background: transparent;   // share toolbar background
  }
}
