<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>footer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">footer</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->

<ion-footer>
  <ion-toolbar>
    <div class="footer-icons">
      <ion-button routerLink="/home" fill="clear"> 
        <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon> -->
        <ion-icon name="home-sharp"></ion-icon>
      </ion-button>
      <ion-button routerLink="/notifications" fill="clear">
        <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="notifications"></mat-icon> -->
        <ion-icon name="notifications-sharp"></ion-icon>
      </ion-button>
      <ion-button routerLink="/messages" fill="clear">
        <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="message"></mat-icon> -->
        <ion-icon name="chatbox-sharp"></ion-icon>
       </ion-button>
       <ion-button routerLink="/profile" fill="clear">
        <ion-icon name="person-sharp"></ion-icon>      
       </ion-button>
     </div>
  </ion-toolbar>  
</ion-footer>
